
body[b-k4nphxo4f7] {
    background-color: #f8f9fa;
}

.container[b-k4nphxo4f7] {
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.form-control[b-k4nphxo4f7], .btn-primary[b-k4nphxo4f7] {
    border-radius: 8px;
}

.btn-primary[b-k4nphxo4f7] {
    background: #007bff;
    border: none;
}

    .btn-primary:hover[b-k4nphxo4f7] {
        background: #0056b3;
    }

.list-group-item[b-k4nphxo4f7] {
    border-radius: 8px;
    margin-bottom: 10px;
}

    .list-group-item h5[b-k4nphxo4f7] {
        color: #007bff;
    }

    .list-group-item small[b-k4nphxo4f7] {
        color: #6c757d;
    }










/* General container and text styling */
.container[b-k4nphxo4f7] {
    font-family: 'Arial', sans-serif;
    color: #333;
}


a.btn[b-k4nphxo4f7] {
    padding: 0.75rem 1.25rem;

}

/* Day card styles */
.day-card[b-k4nphxo4f7] {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 1.5rem;
}

    .day-card:hover[b-k4nphxo4f7] {
        transform: scale(1.05);
    }

.card-body[b-k4nphxo4f7] {
    padding: 1.5rem;
}

.day-title[b-k4nphxo4f7] {
    font-size: 1.75rem;
    color: #007bff;
    margin-bottom: 1rem;
}

ul[b-k4nphxo4f7] {
    list-style-type: none;
    padding-left: 0;
}

    ul li[b-k4nphxo4f7] {
        font-size: 1rem;
        color: #495057;
        margin-bottom: 0.5rem;
    }

.btn-primary[b-k4nphxo4f7] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
}

    .btn-primary:hover[b-k4nphxo4f7] {
        background-color: #0056b3;
    }

/* Pagination styles */
.pagination[b-k4nphxo4f7] {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

    .pagination a[b-k4nphxo4f7] {
        color: #007bff;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        border: 1px solid #dee2e6;
        margin: 0 0.25rem;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .pagination a:hover[b-k4nphxo4f7] {
            background-color: #007bff;
            color: #fff;
        }

        .pagination a.active[b-k4nphxo4f7] {
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
        }

